body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.pixelBtn, .title-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-screen {
  background-color: blanchedalmond;
  background-size: cover;
  height: 100vh;
}

.title-screen-ori {
  position: relative;
}


